<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Remedicado - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/navbar.js"></script>
        <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/static/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/static/fontawesome/css/solid.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/global_styles.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/custom_bootstrap_edit.css">
        <link rel="stylesheet" href="/static/global_styles.css"> -->

        {% block headings %}{% endblock %}
    </head>

    <body>
    

        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="logo">
                    <a href="{{url_for('Home')}}" class="nav-link">
                        <img src="/static/assets/Remedicado_logo.png" alt="Remedicado logo">
                    </a>
                    <a href="{{url_for('Home')}}" class="nav-link">
                        <span class="link-text logo-text">Remedicado</span>
                    </a>
                    
                </li>

                <li class="nav-item">
                    <div class="seperator"></div>
                    <a href="{{url_for('Home')}}" class="nav-link">
                        <img src="/static/assets/icons/home.svg" alt="home icon">
                        <span class="link-text">home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <div class="seperator"></div>
                    <a href="{{url_for('Remediations_List')}}" class="nav-link">
                        <img src="/static/assets/icons/remediations.svg" alt="remediatons icon">
                        <span class="link-text">remediatons</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <div class="seperator"></div>
                    <a href="#" class="nav-link">
                        <img src="/static/assets/icons/sign_in.svg" alt="sign in icon">
                        <span class="link-text">sign in</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main>
            {% block content %}
            {% endblock %}

        </main>
        
    
    </body>
</html>