{% extends "base.html" %}  
{% block title %}Home{% endblock %}  

{% block content %}

    <div class="container">
        <div class="hero">
            <div class="container">
                <div>
                    <h1 class="">Remedicado</h1>
                    <p style="font-style: italic;">pronounced [ri-mee-dee-ka-doh]</p>
                    <p>A remediation tracking software that adapts to the way you work.</p>
                </div>
                <div>
                    <img src="/static/assets/Remedicado_logo.png" alt="remedocado logo" width="700">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="cta">
            <div class="container">
                <div class="stack">
                    <i class="fa-brands fa-github hero-icon"></i>
                    <h1>Help make some 'guac'</h1>
                    <p>Help contribute to the github project. Be it big or small, code, documentation or just feedback; every contribution helps.</p>
                    <div>
                        <button type="button" class="btn">View the project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}  
