{% extends "base.html" %}  
{% block title %}Remediations{% endblock %}  
{% block headings %} <script src="/static/table_href.js"></script> {% endblock %}


{% block content %}

<div class="container">
    <h1>Remediations</h1>
    <p>add some kinda graphs here later</p>

</div>
<div></div>

<div class="container">
    <div class="hero">
        <h1>Remediations list</h1>
        <div class="full-width container-no-gap">
            

            <form action="{{ url_for('Source_Breakdown')}}" method="POST" enctype="multipart/form-data">
                <div class="btn-div" style="width: fit-content; margin: 0;">
                    <div class="btn" style="width: min-content; display: inline;">
                        <button class="btn-segment">Download Source Breakdown</button>
                        <select name="source_id" id="source_id" class="btn-segment ">
            
                            {% for source in Sources %}
                    
                                <option value="{{Sources[source]['source_id']}}">{{Sources[source]['source_name']}}</option>
                    
                            {% endfor %}
                    
                        </select>
                    </div>
                </div>
            </form>

        

        <div class="shaped">
            <label for="search_table">Search for Vulnerability:</label>
            <input type="text" id="search_table" onkeyup="Search_Table()" placeholder="Vulnerability name..">
        </div>
    </div>
        

        <table id="table" class="full-width">
            <tr>
                {% for count in range(Header_Length) %}
                <th onclick="sortTable({{count}})">{{ Headings[count] }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr data-href="{{ url_for('Remediation_Details', ID=row[0])}}">
                <td class="header-column" id="{{row[0]}}">
                    <p class="bold">{{ row[1] }}</p>
                </td>
                
                {% if row[2] >= 9 %}
                <!-- Critical severity (9+)-->

                <td class="severity">
                    <span class="critical">{{ row[2] }}</span>
                </td>

                {% elif row[2] >= 7 %}
                <!-- High severity (7+)-->

                <td class="severity">
                    <span class="high">{{ row[2] }}</span>
                </td>

                {% elif row[2] >= 4 %}
                <!-- medium severity (4+)-->

                <td class="severity">
                    <span class="medium">{{ row[2] }}</span>
                </td>

                {% else %}
                <!-- low / info severity (>4)-->

                <td class="severity">
                    <span class="low">{{ row[2] }}</span>
                </td>
                
                
                {% endif %}

                <td>{{ row[3] }}</td>
                <td>
                    <div class="progress_border" style="width: 80%;">
                        <div class="progress_bar" style="width:{{ row[5] }}%;">{{ row[4] }}</div>
                    </div>
                </td>
                <td>
                    <div class="progress_border" style="width: 80%;">
                        {% if row[6] >= 100 %}
                        <div class="progress_bar out_of_policy" style="width:{{row[6]}}%;">{{row[7]}}</div>
                        {% elif row[6] >= 75 %}
                        <div class="progress_bar almost_out_of_policy" style="width:{{row[6]}}%;">{{row[7]}}</div>
                        {% else %}
                        <div class="progress_bar in_policy" style="width:{{row[6]}}%;">{{row[7]}}</div>
                        {% endif %}
                    </div>
                </td>
                <td class="rating">
                    <img src="/static/assets/icons/ratings/{{row[8]}}" alt="Rating Icon">
                </td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}  