{% extends "base.html" %}  
{% block title %}{{ Remediation_Name }}{% endblock %}  
{% block headings %} <script src="/static/table_href.js"></script> {% endblock %}

{% block content %}

<div class="stack">

    <div class="container">
        <div class="title side-by-side">
            <div class="return">
                <a href="{{ url_for('Remediations_List')}}#{{ID}}"><img src="/static/assets/icons/back.svg" alt="back icon"> <h6>Remediation List</h6></a>
                
            </div>
            <h1>{{ Remediation_Name }}</h1>
            <p><span class="bold">Reported: </span>{{Date_Added}} |  <span class="bold">Last updated: </span>{{Last_Updated}}</p>
            <p><span class="bold">{{Remediation_Source}}:</span> {{Remediation_Source_Id}}</p>
        </div>

        {% if Remediation_Sev >= 9 %}
        <!-- Critical severity (9+)-->

        <div class="cta critical side-by-side">
            <img src="/static/assets/icons/ratings/{{Status_Icon}}" alt="Status Icon" style="width: 100%;">

        {% elif Remediation_Sev >= 7 %}
        <!-- High severity (7+)-->

        <div class="cta high side-by-side">
            <img src="/static/assets/icons/ratings/{{Status_Icon}}" alt="Status Icon" style="width: 100%;">

        {% elif Remediation_Sev >= 4 %}
        <!-- medium severity (4+)-->

        <div class="cta medium side-by-side">
            <img src="/static/assets/icons/ratings/{{Status_Icon}}" alt="Status Icon" style="width: 100%;">

        {% else %}
        <!-- low / info severity (>4)-->

        <div class="cta low side-by-side">
            <img src="/static/assets/icons/ratings/{{Status_Icon}}" alt="Status Icon" style="width: 100%;">
        
        {% endif %}

            
            <h3>Severity {{ Remediation_Sev }}</h3>

            <div>
                <p class="close-margin bold">Remediation Progress</p>
                <div class="progress_border">
                    <div class="progress_bar" style="width:{{Remediation_Percent}}%;">{{ Remediation_Ip_Count }}</div>
                </div>
            </div>
            <div>
                <p class="close-margin bold">Policy Status</p>
                <div class="progress_border">
                    {% if Policy_Percent >= 100 %}
                    <div class="progress_bar out_of_policy" style="width:{{Policy_Percent}}%;">{{Policy_Days}}</div>
                    {% elif Policy_Percent >= 75 %}
                    <div class="progress_bar almost_out_of_policy" style="width:{{Policy_Percent}}%;">{{Policy_Days}}</div>
                    {% else %}
                    <div class="progress_bar in_policy" style="width:{{Policy_Percent}}%;">{{Policy_Days}}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
        <div class="hero side-by-side">
            <h3>Vulnerability Description</h3>
            <div class="seperator"></div>
            {% for line in Remediation_Desc %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
    
        <div class="hero side-by-side">
            <h3 class="close-margin" id="vuln_reports">Vulnerability Reports</h3>

            {% for message in get_flashed_messages() %}
            <div class="alert">
                {{message}}
            </div>
                
            {% endfor %}

            <form action="{{ url_for('Upload_Report', ID=ID)}}" method="POST" enctype="multipart/form-data">
                <div class="upload">
                        <input type="file" id="vuln_report" name="vuln_report" accept=".pdf">
                    </div>
                <div class="btn-div">
                    <div class="btn" style="width: min-content; display: inline;">
                        <button class="btn-segment">Upload Vulnerability Report</button>
                        
                    </div>
                   
                </div>
            </form>

            
            <table class="full-width">
                <tr>
                    <th>Report</th>
                    <th>Date Added</th>
                    <th>Sha256 Hash</th>
                    <th>Download</th>
                </tr>
                <tr>
                    {% for file in Uploaded_Files %}
                    
                    <td>
                        <a>{{Uploaded_Files[file]['uploaded_reports_filename']}}</a>
                    </td>
                    <td>{{Uploaded_Files[file]['uploaded_reports_upload_date']}}</td>
                    <td style="overflow-wrap: break-word;">{{Uploaded_Files[file]['uploaded_reports_hash']}}</td>
                    <td>
                        <a href="{{url_for('Report_Download', ID=ID, Report_Id=Uploaded_Files[file]['uploaded_reports_id'])}}">
                            <img src="/static/assets/icons/download.svg" alt="download icon">
                        </a>
                        <label class="collapse" for="_{{Uploaded_Files[file]['uploaded_reports_id']}}" style="display: inline;"><img src="/static/assets/icons/delete.svg" alt="delete icon"></label>
                        <input id="_{{Uploaded_Files[file]['uploaded_reports_id']}}" type="checkbox">    
                        <div class="expander" style="margin-bottom: 3rem;">
                            <form action="{{url_for('Delete_Report', ID=ID, Report_Id=Uploaded_Files[file]['uploaded_reports_id'])}}" method="POST">
                                <p>Are you sure you want to delete {{Uploaded_Files[file]['uploaded_reports_filename']}}?</p>
                                <br>
                                <input class="btn" type="submit" value="Delete">
                            </form>
                        </div>
                    </td>

                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <!--
    <div class="full-width">
        <div class="cta">
            <div class="container">
                <div class="stack">
                    <h2 class="close-margin">Export Remediation Report</h2>
                    <div class="btn-div">
                        <a type="button" class="btn" href="#" target="_blank">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="hero">
        <div class="container">
            <h3 class="close-margin" Id="ip_list">Ip List</h3>
        
            <div>
                <label class="collapse btn" for="_ips">Remediate ips</label>
                <input id="_ips" type="checkbox"> 
                <div class="expander">
                    <form action="{{url_for('Remediate_Ips', ID=ID)}}" method="POST">
                        <p><label for="selected_ips">list ips to remediate (seperate by comma):</label></p>
                        <textarea id="selected_ips" name="selected_ips" rows="4" cols="50" placeholder="xxx.xxx.xxx.xxx (seperate by comma)"></textarea>
                        <br>
                        <input class="btn" type="submit" value="Remediate">
                    </form>
                </div>
            </div>
        </div>
        

        <table style="table-layout: auto;" id="table">
            <tr>
                {% for count in range(Ip_Header_Length) %}
                <th onclick="sortTable({{count}})">{{ Ip_Headers[count] }}</th>
                {% endfor %}
            </tr>
            {% for row in Ip_Data %}
            <tr>

                <td class="header-column">{{Ip_Data[row]['ip_list_address']}}</td>
                <td>{{Ip_Data[row]['date_reported']}}</td>
                
                {% if Ip_Data[row]['remediated'] == 1 %}
                <td><span class="true">Yes</span></td>
                {% else %}
                <td><span class="false">No</span></td>
                {% endif %}

                <td>{{Ip_Data[row]['last_seen']}}</td>
                {% if Ip_Data[row]['remediated_previously'] == 1 %}
                <td><span class="true">Yes</span></td>
                {% else %}
                <td><span class="false">No</span></td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="full-width">
        <div class="cta critical">
            <div class="container">

                <div class="stack">
                    <div class="btn-div">
                        <a type="button" class="btn" href="{{ url_for('Edit_Remediation_Details', ID=ID)}}">Edit</a>
                    </div>

                    <label class="collapse btn" for="_delete" style="display: inline;"><img src="/static/assets/icons/delete.svg" alt="delete icon"> Delete Remediation</label>
                    <input id="_delete" type="checkbox">    
                    <div class="expander" style="margin-bottom: 3rem;">
                        <form action="{{ url_for('Delete_Remediation', ID=ID)}}" method="POST">
                            <h4>Are you sure you want to delete '{{ Remediation_Name }}'?</h4>
                            <br>
                            <input class="btn" type="submit" value="Delete">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}  